@page "/newgame"

<h1>New Game</h1>

<h4 class="mt-2">Select players</h4>
<div style="display:grid; grid-template-columns: 1fr auto; gap: 0.5rem;">
    @foreach (var player in UnselectedPlayers)
    {
        <div>@player.Name</div>
        <div>
            <button type="button" class="btn btn-primary" @onclick="@(() => AddPlayer(player))">
                <span class="oi oi-plus"></span>
                Add player
            </button>
        </div>
    }

    <input type="text" class="form-control" @bind-value="@NewPlayerName" />

    <button class="btn btn-primary" @onclick="@(() => NewPlayer(NewPlayerName))">
        <span class="oi oi-plus"></span>
        New player
    </button>

</div>

<h4 class="mt-4">Selected players:</h4>
@if (SelectedPlayers.Any())
{
    <table class="table">
        @foreach (var (player, index) in SelectedPlayers.Select((p, i) => (p, i)))
        {
            <tr>
                <td>@(index + 1)</td>
                <td>@player.Name</td>
                <td class="text-right">
                    <button class="btn btn-danger" @onclick="@(() => RemovePlayer(player))">
                        <span class="oi oi-trash"></span>
                    </button>
                    @if (index > 0) {
                        <button class="btn btn-primary" @onclick="@(() => MoveUp(player))">
                            <span class="oi oi-arrow-thick-top"></span>
                        </button>
                    }
                    @if (index < SelectedPlayers.Count - 1) {
                        <button class="btn btn-primary" @onclick="@(() => MoveDown(player))">
                            <span class="oi oi-arrow-thick-bottom"></span>
                        </button>
                    }
                </td>
            </tr>
        }
    </table>

    <div>
        <button class="btn btn-success" @onclick="(() => StartGame())">
            <span class="oi oi-play"></span>
            Start Game
        </button>
    </div>
}
else {
    <div>No selected players</div>
}

